<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">

        <div class="flex justify-center mb-4">
            <img src="{{ url_for('static', filename='img/eca_logo.png') }}" alt="ECA Logo" class="h-30 w-auto">
        </div>

        <h2 class="text-xl font-semibold mb-4 text-center">Cambiar Contraseña</h2>

        <form id="changePasswordForm">
            <div class="mb-4">
                <label for="old_password" class="block text-sm font-medium text-gray-700">Contraseña Actual</label>
                <input type="password" id="old_password" name="old_password" class="w-full p-2 border border-gray-300 rounded">
            </div>

            <div class="mb-4">
                <label for="new_password" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
                <input type="password" id="new_password" name="new_password" class="w-full p-2 border border-gray-300 rounded">
            </div>

            <div class="mb-4">
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirmar Contraseña</label>
                <input type="password" id="confirm_password" name="confirm_password" class="w-full p-2 border border-gray-300 rounded">
            </div>

            <div class="flex justify-end space-x-2">
                <a href="{{ url_for('dashboard.client') }}" class="bg-gray-400 text-white px-4 py-2 rounded">Cancelar</a>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Cambiar</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/auth/change_password.js') }}"></script>
</body>
</html>
