{% extends "dashboard/admin.html" %}

{% block title %}Registros - Admin Dashboard{% endblock %}

{% block content %}
    <script defer src="{{ url_for('static', filename='js/admin/admin_registro.js') }}"></script>
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold">Registros</h1>
        <button id="openRegistroModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
    </div>

    <!-- Mensajes alertas -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- Tabla de Registros -->
    <table class="min-w-full bg-white border border-gray-200">
        <thead>
            <tr>
                <th class="py-2 px-4 bg-gray-200 border text-center">Dispositivo</th>
                <th class="py-2 px-4 bg-gray-200 border text-center">Cultivo</th>
                <th class="py-2 px-4 bg-gray-200 border text-center">Fase</th>
                <th class="py-2 px-4 bg-gray-200 border text-center">Parcela</th>
                <th class="py-2 px-4 bg-gray-200 border text-center">Cliente</th>
                <th class="py-2 px-4 bg-gray-200 border text-center">Fuente</th>
                <th class="py-2 px-4 bg-gray-200 border text-center">Fecha</th>
                <th class="py-2 px-4 bg-gray-200 border text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td class="border px-4 py-2 text-center">{{ registro.dispositivo.chipid }}</td>
                <td class="border px-4 py-2 text-center">{{ registro.cultivo_nombre }}</td>
                <td class="border px-4 py-2 text-center">{{ registro.fase_nombre }}</td>
                <td class="border px-4 py-2 text-center">{{ registro.parcela.nombre }}</td>
                <td class="border px-4 py-2 text-center">{{ registro.usuario.nombre }} {{ registro.usuario.apellido }}</td>
                <td class="border px-4 py-2 text-center">{{ registro.fuente }}</td>
                <td class="border px-4 py-2 text-center">{{ registro.fecha_registro.strftime('%Y-%m-%d %H:%M') }}</td>
                <td class="border px-4 py-2">
                    <div class="flex justify-center space-x-2">
                        <button class="btn-edit bg-blue-500 text-white p-2 rounded" onclick="openEditRegistroModal('{{ registro.id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                            </svg>
                        </button>
                        <button class="btn-delete bg-red-500 text-white p-2 rounded" onclick="openDeleteRegistroModal('{{ registro.id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- Modal para crear Registro -->
    <div id="registroModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Registro</h2>
            <form method="POST" action="{{ url_for('registro.crear_registro') }}">
                <div class="mb-4">
                    <label for="usuario" class="block text-gray-700">Cliente</label>
                    <select name="usuario" id="usuario" class="w-full px-3 py-2 border rounded-lg" required onchange="cargarParcelas()">
                        <option value="">Seleccione un Cliente</option>
                        {% for usuario in usuarios %}
                            {% if usuario.fk_rol == 2 %}
                                <option value="{{ usuario.rut }}">{{ usuario.rut }} - {{ usuario.nombre }} {{ usuario.apellido }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label for="parcela" class="block text-gray-700">Parcela</label>
                    <select name="parcela" id="parcela" class="w-full px-3 py-2 border rounded-lg" required>
                        <option value="">Seleccione una Parcela</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="cultivo" class="block text-gray-700">Cultivo</label>
                    <select name="cultivo" id="cultivo" class="w-full px-3 py-2 border rounded-lg" required onchange="cargarFases()">
                        <option value="">Seleccione un Cultivo</option>
                        {% for cultivo in cultivos %}
                            <option value="{{ cultivo.nombre }}">{{ cultivo.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="mb-4">
                    <label for="fase" class="block text-gray-700">Fase del Cultivo</label>
                    <select name="fase" id="fase" class="w-full px-3 py-2 border rounded-lg" required>
                        <option value="">Seleccione una Fase</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="dispositivo" class="block text-gray-700">Dispositivo</label>
                    <select name="dispositivo" id="dispositivo" class="w-full px-3 py-2 border rounded-lg" required>
                        <option value="">Seleccione un Dispositivo</option>
                            {% for dispositivo in dispositivos %}
                                <option value="{{ dispositivo.id }}">{{ dispositivo.chipid }} - {{ dispositivo.modelo }}</option>
                            {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label for="fuente" class="block text-gray-700">Fuente de Datos</label>
                    <select id="fuente" name="fuente" class="w-full px-3 py-2 border rounded-lg" required>
                        <option value="">Seleccione una fuente de datos</option>
                        {% for fuente in fuente %}
                            <option value="{{ fuente }}">{{ fuente }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flex justify-end">
                    <button type="button" id="closeRegistroModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal editar registro -->
    <div id="editRegistroModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded shadow-lg w-1/3">
            <h2 class="text-xl font-bold mb-4">Editar Registro</h2>
            <form id="editRegistroForm" method="POST">
                <input type="hidden" name="idRegistro" id="idRegistro">
                <div class="mb-4">
                    <label for="editUsuario" class="block text-sm font-medium">Cliente</label>
                    <select id="editUsuario" name="editUsuario" class="w-full border rounded px-3 py-2" required onchange="cargarParcelas()">
                        {% for usuario in usuarios %}
                            {% if usuario.fk_rol == 2 %}
                                <option value="{{ usuario.rut }}">{{ usuario.rut }} - {{ usuario.nombre }} {{ usuario.apellido }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label for="editParcela" class="block text-sm font-medium">Parcela</label>
                    <select id="editParcela" name="editParcela" class="w-full border rounded px-3 py-2" required>
                        <option value="">Seleccione una Parcela</option>
                    </select>
                </div>
                <select id="editCultivo" name="editCultivo" class="w-full border rounded px-3 py-2" required onchange="cargarFasesEdit(this.options[this.selectedIndex].getAttribute('data-nombre'))">
                    <option value="">Seleccione un Cultivo</option>
                    {% for cultivo in cultivos %}
                        <option value="{{ cultivo.nombre }}" data-nombre="{{ cultivo.nombre }}">{{ cultivo.nombre }}</option>
                    {% endfor %}
                </select>

                <div class="mb-4">
                    <label for="editFase" class="block text-gray-700">Fase del Cultivo</label>
                    <select name="editFase" id="editFase" class="w-full px-3 py-2 border rounded-lg" required>
                        <option value="">Seleccione una Fase</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="editDispositivo" class="block text-sm font-medium">Dispositivo</label>
                    <select id="editDispositivo" name="editDispositivo" class="w-full border rounded px-3 py-2" required>
                        {% for dispositivo in dispositivos %}
                            <option value="{{ dispositivo.id }}">{{ dispositivo.chipid }} - {{ dispositivo.modelo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label for="editFuente" class="block text-sm font-medium">Fuente de Datos</label>
                    <select id="editFuente" name="editFuente" class="w-full border rounded px-3 py-2" required>
                        {% for fuente in fuente %}
                            <option value="{{ fuente }}">{{ fuente }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" onclick="closeEditRegistroModal()">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal eliminar Registro -->
    <div id="deleteRegistroModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded shadow-lg w-1/3">
            <h2 class="text-xl font-bold mb-4">Eliminar Registro</h2>
            <p>¿Estás seguro de que deseas eliminar el Registro?</p>
            <form id="deleteRegistroForm" method="POST">
                <input type="hidden" id="registroIdToDelete" name="registroIdToDelete">
                <div class="flex justify-end mt-4">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" onclick="closeDeleteRegistroModal()">Cancelar</button>
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}