{% extends "dashboard/admin.html" %}

{% block title %}Usuarios - Admin Dashboard{% endblock %}

{% block content %}
    <script defer src="{{ url_for('static', filename='js/admin/admin_usuario.js') }}"></script>
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold">Usuarios</h1>
        <button id="openUsuarioModal" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- Tabla de usuarios -->
    <table class="min-w-full bg-white border border-gray-200">
        <thead>
            <tr>
                <th class="py-2 px-4 bg-gray-200 border">RUT</th>
                <th class="py-2 px-4 bg-gray-200 border">Nombre</th>
                <th class="py-2 px-4 bg-gray-200 border">Apellido</th>
                <th class="py-2 px-4 bg-gray-200 border">Teléfono</th>
                <th class="py-2 px-4 bg-gray-200 border">Correo</th>
                <th class="py-2 px-4 bg-gray-200 border">Rol</th>
                <th class="py-2 px-4 bg-gray-200 border">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td class="border px-4 py-2">{{ usuario.rut }}</td>
                <td class="border px-4 py-2">{{ usuario.nombre }}</td>
                <td class="border px-4 py-2">{{ usuario.apellido }}</td>
                <td class="border px-4 py-2">{{ usuario.fono }}</td>
                <td class="border px-4 py-2">{{ usuario.correo }}</td>
                <td class="border px-4 py-2">{{ usuario.rol.nombre }}</td>
                <td class="border px-4 py-2">
                    <div class="flex space-x-2">
                        <button class="btn-edit bg-blue-500 text-white p-2 rounded" onclick="openEditModal('{{ usuario.rut }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M17.414 2.586a2 2 0 00-2.828 0L13 4.172 15.828 7l1.586-1.586a2 2 0 000-2.828zM12 5l3 3-9 9H3v-3l9-9z"/>
                            </svg>
                        </button>
                        <button class="btn-delete bg-red-500 text-white p-2 rounded" onclick="openDeleteModal('{{ usuario.rut }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M8 4a1 1 0 011-1h2a1 1 0 011 1v1h5a1 1 0 110 2h-1v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7H3a1 1 0 110-2h5V4zm1 3a1 1 0 00-1 1v7a1 1 0 102 0V8a1 1 0 00-1-1zm4 1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para crear usuario -->
    <div id="usuarioModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
            <h2 class="text-2xl mb-4">Crear Usuario</h2>
            <form method="POST" action="{{ url_for('user.crear_usuario') }}">
                <div class="mb-4">
                    <label for="rut" class="block text-gray-700">Rut</label>
                    <input type="text" name="rut" id="rut" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="nombre" class="block text-gray-700">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="apellido" class="block text-gray-700">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="fono" class="block text-gray-700">Teléfono</label>
                    <input type="text" name="fono" id="fono" class="w-full px-3 py-2 border rounded-lg" maxlength="15" required>
                </div>
                <div class="mb-4">
                    <label for="correo" class="block text-gray-700">Correo</label>
                    <input type="email" name="correo" id="correo" class="w-full px-3 py-2 border rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="rol" class="block text-gray-700">Rol</label>
                    <select name="rol" id="rol" class="w-full px-3 py-2 border rounded-lg" required>
                        {% for rol in roles %}
                        <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeUsuarioModal" class="bg-gray-500 text-white py-2 px-4 rounded-lg mr-2">Cancelar</button>
                    <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg">Crear</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal editar usuario -->
    <div id="editUsuarioModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded shadow-lg w-1/3">
            <h2 class="text-xl font-bold mb-4">Editar Usuario</h2>
            <form id="editUserForm" method="POST">
                <input type="hidden" name="editRut" id="editRut">
                <div class="mb-4">
                    <label for="editNombre" class="block text-sm font-medium">Nombre</label>
                    <input type="text" id="editNombre" name="editNombre" class="w-full border rounded px-3 py-2">
                </div>
                <div class="mb-4">
                    <label for="editApellido" class="block text-sm font-medium">Apellido</label>
                    <input type="text" id="editApellido" name="editApellido" class="w-full border rounded px-3 py-2">
                </div>
                <div class="mb-4">
                    <label for="editFono" class="block text-sm font-medium">Teléfono</label>
                    <input type="text" id="editFono" name="editFono" class="w-full border rounded px-3 py-2">
                </div>
                <div class="mb-4">
                    <label for="editCorreo" class="block text-sm font-medium">Correo</label>
                    <input type="email" id="editCorreo" name="editCorreo" class="w-full border rounded px-3 py-2">
                </div>
                <div class="mb-4">
                    <label for="editRol" class="block text-sm font-medium">Rol</label>
                    <select id="editRol" name="editRol" class="w-full border rounded px-3 py-2">
                        {% for rol in roles %}
                        <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex justify-end">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" onclick="closeEditModal()">Cancelar</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal eliminar usuario -->
    <div id="deleteUsuarioModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded shadow-lg w-1/3">
            <h2 class="text-xl font-bold mb-4">Eliminar Usuario</h2>
            <p>¿Estás seguro de que deseas eliminar este usuario?</p>
            <form id="deleteUsuarioForm" method="POST">
                <div class="flex justify-end mt-4">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" onclick="closeDeleteModal()">Cancelar</button>
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}