/* Paleta de colores */
:root {
    --negro-tecnologico: #0D1F1D;
    --verde-vivo: #00C853;
    --verde-agua: #009688;
    --gris-ingeniero: #B2DFDB;
}

main {
    margin-top: 80px;
    padding: 20px;
    background-color: #f9fafb;
    min-height: calc(100vh - 80px);
}


header {
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--gris-ingeniero);
}

.logo {
    height: 80px;
    width: auto;
}

/* Estructura principal */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}


th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

thead {
    background-color: #f3f4f6;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f1f5f9;
    transition: background 0.2s ease-in-out;
}

/* Barra lateral */
#sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 250px;
    height: calc(100vh - 80px);
    background-color: var(--negro-tecnologico);
    color: var(--gris-ingeniero);
    overflow-y: auto;
    transition: transform 0.3s ease;
}

#sidebar.hidden {
    transform: translateX(-100%);
}

#sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--gris-ingeniero);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#sidebar .nav-link:hover {
    background-color: var(--verde-vivo);
    color: white;
}

#sidebar .nav-link svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
}

#changePasswordModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

#changePasswordModal .modal-content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
}



/* Media queries */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        z-index: 1020;
        top: 80px;
    }

    main {
        margin-left: 0;
    }
}