/* Paleta de colores */
:root {
    --negro-tecnologico: #0D1F1D;
    --verde-vivo: #00C853;
    --verde-agua: #009688;
    --gris-ingeniero: #B2DFDB;
}

/* Estilos generales */
/* body {
    background-color: var(--gris-ingeniero);
    color: var(--negro-tecnologico);
} */

.bloque-inicio{
    background-color: var(--gris-ingeniero);
    color: var(--negro-tecnologico);
}

/* Barra lateral */
.sidebar {
    background-color: var(--negro-tecnologico);
    color: var(--gris-ingeniero);
}

.sidebar .nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--gris-ingeniero);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar .nav-link i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.sidebar .nav-link:hover {
    background-color: var(--verde-vivo);
    color: white;
}

/* Cabecera */
header {
    background-color: var(--verde-vivo);
    color: white;
}

header h4 {
    font-weight: bold;
}

header .dropdown-menu {
    background-color: var(--gris-ingeniero);
    color: var(--negro-tecnologico);
}

header .dropdown-menu a {
    color: var(--negro-tecnologico);
}

header .dropdown-menu a:hover {
    background-color: var(--verde-vivo);
    color: white;
}

/* Estilos para las notificaciones */
.notification-dropdown {
    max-height: 400px;
    overflow-y: auto;
}

.notification-dropdown .dropdown-item {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.notification-dropdown .dropdown-item:hover {
    background-color: var(--gris-ingeniero);
}

.notification-dropdown .dropdown-item i {
    font-size: 1.2rem;
}

/* Nuevos estilos para el texto de las notificaciones */
.notification-dropdown .dropdown-item p {
    font-size: 0.9rem;  /* Texto principal más pequeño */
    margin-bottom: 0.2rem;
}

.notification-dropdown .dropdown-item small {
    font-size: 0.75rem;  /* Texto secundario aún más pequeño */
    color: #6c757d;
}

.notification-dropdown .dropdown-header {
    font-size: 0.95rem;  /* Tamaño del encabezado */
    font-weight: bold;
}

.notification-dropdown .dropdown-item:last-child {
    font-size: 0.85rem;  /* Tamaño del enlace "Ver todas las alertas" */
}
